*{
    height: 100%;
}

h1.h1{
    font-size: 100px;
}

div.azul {
    background-color: blue;
    width: 50%;
    height: 50%;
    float: left;
}

div.rojo {
    background-color: red;
    width: 50%;
    height: 50%;
    float: right;
}

div.verde {
    background-color: green;
    width: 50%;
    height: 50%;
    clear: both;
    float: left;
}

div.amarillo {
    background-color: yellow;
    width: 50%;
    height: 50%;
    float: right;
}

div.azul2 {
    background-color: blue;
    width: 100%;
    height: 20%;
}

div.rojo2{
    background-color: red;
    width: 50%;
    height: 60%;
    float: left;
}

div.verde2 {
    background-color: green;
    width: 50%;
    height: 60%;
    float: right;
}

div.amarillo2 {
    background-color: yellow;
    clear: both;
    width: 100%;
    height: 20%;
}

div.azul3 {
    background-color: blue;
    width: 100%;
    height: 20%;
}

div.rojo3{
    background-color: red;
    width: 20%;
    height: 80%;
    float: left;
}

div.verde3 {
    background-color: green;
    width: 80%;
    height: 40%;
    float: right;
}

div.amarillo3 {
    background-color: yellow;
    float: right;
    width: 80%;
    height: 40%;
}

div.azul4 {
    background-color: blue;
    width: 100%;
    height: 20%;
}

div.rojo4{
    background-color: red;
    width: 20%;
    height: 70%;
    float: left;
}

div.verde4 {
    background-color: green;
    width: 40%;
    height: 70%;
    float: right;
}

div.amarillo4 {
    background-color: yellow;
    width: 40%;
    height: 70%;
    float: right;
}

div.naranja4 {
    background-color: orange;
    clear: both;
    width: 100%;
    height: 20%;
}

div.azul5 {
    background-color: blue;
    width: 100%;
    height: 20%;
    top: 5%;
}

div.gris5 {
    background-color: gray;
    width: 100%;
    height: 20%;
    top: 10%;
    position: sticky;
    float: left;
}

div.rojo5{
    background-color: red;
    width: 20%;
    height: 70%;
    float: left;
}

div.verde5 {
    background-color: green;
    width: 40%;
    height: 70%;
    float: right;
}

div.amarillo5 {
    background-color: yellow;
    width: 40%;
    height: 70%;
    float: right;
}

div.naranja5 {
    background-color: orange;
    clear: both;
    width: 100%;
    height: 50%;
    z-index: 1;
}

div.lila5 {
    background-color: purple;
    width: 5%;
    height: 10%;
    position: fixed;
    z-index: 2;
    right: 20%;
    top: 80%;
}
