*{
    margin: 0px; 
    display:block;
    box-sizing: border-box; 
   }

pokedex {
    background-image: url(images/Fondo\ De\ Pantalla\ Samsung.jpeg) ; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

pokemon[tipo = "rayo"]{
        background-image: url(images/rayo.jpeg);
        background-repeat: no-repeat;
        width: 25vw;
        height: 40vw;
        margin: 2vw;
        padding: 1vw;
        font-size: 1.2em;
        position: static;
      }
    
      pokemon[tipo = "agua"]{
        background-image: url(images/agua.jpeg);
        background-repeat: no-repeat;
        width: 30vw;
        height: 35vw;
        margin: 2vw;
        padding: 1vw;
        font-size: 1.2em;
      }

      pokemon[tipo = "fuego"]{
        background-image: url(images/fuego.jpg);
        background-repeat: no-repeat;
        width: 30vw;
        height: 35vw;
        margin: 2vw;
        padding: 1vw;
        font-size: 1.2em;
      }

      pokemon[tipo = "planta"]{
        background-image: url(images/hoja.jpg);
        background-repeat: no-repeat;
        width: 30vw;
        height: 35vw;
        margin: 2vw;
        padding: 1vw;
        font-size: 1.2em;
        position: absolute;
      }

nombre{
    font-size: 3em;
    padding: .6em;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

descripcion{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

tipo{
    font-weight: 100;
    font-size: .8em;
    margin: .5em;
}

genero {
    display: inline;
    color: rgb(214, 137, 36);
    font-size: 1.3em;
}

foto{
    width: 250px;
    height:250px;
    float: none;
}

foto[imagen="pikachu"]{
    background-image: url("images/pikachu.png");
    background-size: cover;
    position: relative;
    left: 100%;
}
foto[imagen="celestina"]{
    background-image: url("images/lacelestina.jpg");
    background-size: cover;
}
foto[imagen="extranjero"]{
    background-image: url("images/extranjero.jpg");
    background-size: cover;
}
foto[imagen="1984"]{
    background-image: url("images/1984.jpg");
    background-size: cover;
}
