*{
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: content-box;
    font-weight: 500;
    font-size: 20px;
    color: yellow;
    text-shadow: 3px 3px 5px blue;
}

pokedex {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

pokemon[tipo = "tierra"]{
    background-image: url(images/tierra.jpg);
    justify-content: center;
    text-align: center;
    border: solid 15px burlywood;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

pokemon[tipo = "agua"]{
    background-image: url(images/agua.jpg);
    justify-content: center;
    text-align: center;
    border: solid 15px skyblue;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

pokemon[tipo = "planta"]{
    background-image: url(images/hoja.jpg);
    justify-content: center;
    text-align: center;
    border: solid 15px green;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

pokemon[tipo = "fuego"]{
    background-image: url(images/fuego.jpg);
    justify-content: center;
    text-align: center;
    border: solid 15px orangered;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

nombre{
    margin: 10px;
    font-size:40px;
    font-weight: 800;
    font-style: oblique;
}

descripcion{
    margin: 18px;
    margin-top: 13px;
    display: block;
    color: yellow;
    font-size: 12px;
}

tipo{
    margin-top: 30px;
}

foto{
    background-repeat: no-repeat;
    margin: auto;
    width: 260px;
    height: 170px;
    border: solid 5px whitesmoke;
}

foto[imagen="pikachu"]{
    background-image: url("images/pikachu.png");
}
foto[imagen="charizard"]{
    background-image: url("images/charizard.jpg");
}
foto[imagen="bulbasur"]{
    background-image: url("images/bulbasur.png");
}
foto[imagen="arcanine"]{
    background-image: url("images/arcanine.jpg");
}
foto[imagen="gyarados"]{
    background-image: url("images/gyarados.jpg");
}
foto[imagen="raichu"]{
    background-image: url("images/raichu.png");
}
foto[imagen="vaporeon"]{
    background-image: url("images/vaporeon.jpg");
}
foto[imagen="venusaur"]{
    background-image: url("images/venusaur.jpg");
}
foto[imagen="squirtle"]{
    background-image: url("images/squirtle.jpeg");
}
foto[imagen="sceptile"]{
    background-image: url("images/sceptile.png");
}
foto[imagen="charmander"]{
    background-image: url("images/charmander.jpg");
}
foto[imagen="glowlithe"]{
    background-image: url("images/growlithe.jpg");
}
foto[imagen="flareon"]{
    background-image: url("images/flareon.png");
}
foto[imagen="vulpix"]{
    background-image: url("images/vulpix.png");
}
foto[imagen="blastoise"]{
    background-image: url("images/blastoise.jpg");
}
foto[imagen="lapras"]{
    background-image: url("images/lapras.png");
}
foto[imagen="magikarp"]{
    background-image: url("images/magikarp.jpg");
}
foto[imagen="oddish"]{
    background-image: url("images/oddish.jpg");
}
foto[imagen="exeggutor"]{
    background-image: url("images/exeggutor.jpg");
}
foto[imagen="bellsprout"]{
    background-image: url("images/bellsprout.jpg");
}
foto[imagen="tangela"]{
    background-image: url("images/tangela.jpg");
}
foto[imagen="excadrill"]{
    background-image: url("images/excadrill.jpg");
}
foto[imagen="flygon"]{
    background-image: url("images/flygon.jpg");
}
foto[imagen="garchomp"]{
    background-image: url("images/garchomp.png");
}
foto[imagen="golem"]{
    background-image: url("images/golem.jpg");
}
foto[imagen="rhyperior"]{
    background-image: url("images/rhyperior.jpg");
}
foto[imagen="sandslash"]{
    background-image: url("images/sandslash.jpg");
}

