.calculadora {
    width: 300px;
    height: 390px;
    border: 1px solid #000;
    background-color: #CCCCCC;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #000;
  }
  
  .pantalla {
    height: 100px;
    padding: 10px;
    
  }
  
  #resultado {
    width: 95%;
    height: 70px;
    font-size: 50px;
    border: none;
    background-color: #A4CCA4;
    border: 1px solid black;
    box-shadow: 0px 0px 10px #000;
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
  }
  
  button {
    font-size: 30px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
  }

  .buttonigual {
    font-size: 30px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
    width: 208%;
  }
  
  button:hover {
    background-color: #ddd;
  }
  