/*?-------------------------------------------------------ROOT----------------------------------------------------------------------- */

:root {
  --gris:#8D99AE;
  --blanco: white;
  --fondo:#212335e7;
  --luces: 0 0 10px rgba(255,255,255,1)  , 0 0 30px rgba(255,255,255,1) , 0 0 40px #003cff  , 0 0 80px #1100ff  ;
  }

/*?-------------------------------------------------------GENERAL----------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

/*?-------------------------------------------------------BODY----------------------------------------------------------------------- */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/fondo.jpeg);
  background-size: cover;
  background-position: top;
}


a{
  color: var(--gris);
  text-shadow: var(--luces);
}

h1,h2,h3,h4,h5 {
  color: var(--blanco);
  text-shadow: var(--luces);
  text-align: center;
}

p {
  color: var(--gris);
  text-align: center;
}

/*?------------------------------------------------------HEADER----------------------------------------------------------------------- */

header {
  background-image: linear-gradient(
  rgba(45, 6, 100, 0.411),
  rgba(18, 55, 90, 0.938)),
  url(../../../images/fondo.jpeg);
  padding: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 40px; 
}

/*?-------------------------------------------------------NAV----------------------------------------------------------------------- */

nav {
  overflow: hidden;
  background-color: #8BA9E6;
  display: flex;
  justify-items: stretch;
}

nav a {
  margin: auto;
  color: black;
  text-align: center;
  padding: 1% 5%;
  text-decoration: none;
}

nav a:hover {
  background-color: #c9e3e8;
  color: black;
}

#resaltado{
  background-color:#c9e3e8;
}


/*?-------------------------------------------------------MAIN---------------------------------------------------------------------- */

main {
  display: flex; 
  flex-wrap: wrap;
  width: 1500px;
  margin: auto;
  background-color: var(--fondo);
}

section {
  width: 1500px;
  margin: auto;
  padding: 40px; 
}

figure {
  width: 95%;
  height: 800px;
  overflow: hidden;
}

img.logod{
 padding: 40px;
 min-width: 30%;
}

img.centro{
 padding: 40px;
 min-width: 100%;
}

img.logo{
  padding: 30px;
  min-width: 50%;
 }

figcaption{
  text-align: center;
  color: var(--gris);
}

article{
  padding: 1em;
  line-height: 200%;
}

.fondomid{
  background-color: var(--fondo);
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.fondomid figure{
  width: 100%;
  height: 500px;
  margin: 0;
}

.fondomid img{
  padding: 0;
}

iframe{
  width: 1000px;
  margin-bottom: 5em;
  height: 600px;
}

table{
  text-shadow: var(--luces);
  text-align: center;
  border-color: #0d2fa2;
} 

.botonpreguntas {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 60%; /* Ancho fijo del botón */
  background-color: white; /* Color inicial */
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-width: 5px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  transition: background-color 2s;
}

.botonpreguntas.incorrecta {
  background-color: red; /* Color al ser presionado */
  color: white;
}
.botonpreguntas.correcta {
  background-color: greenyellow; /* Color al ser presionado */
}
/*?-------------------------------------------------------------FOOTER-------------------------------------------------------*/

footer {
  padding: 10px;
  background: linear-gradient( to right,  
    white 20%,
    #051340);
  display: flex;
  flex-flow: row;
  justify-content: flex-start; /* Alinear elementos a la izquierda */
  align-items: center;
  border-top: 1px solid black;
}

footer a {
  text-decoration: none;
}

footer p {
  margin-top: 1em;
  padding-left: 1%;
  text-align: left;
  width: 300px;
  font-weight: bold;
  color: black var(--luces);
}

footer figure {
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer figure img {
  height: 100%;
  object-fit: cover;
}

footer a img {
  width: 180px;
  height: 200px;
  margin: 0 100px; /* Ajusta el espacio entre las imágenes */
}
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
