/*?-------------------------------------------------------ROOT----------------------------------------------------------------------- */

:root {
  --gris:#8D99AE;
  --blanco: white;
  --fondo:#212335e7;
  --luces: 0 0 10px rgba(255,255,255,1)  , 0 0 30px rgba(255,255,255,1) , 0 0 40px #062383  , 0 0 80px #291e8a  ;
  }

* {
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5 {
    color: var(--blanco);
    text-shadow: var(--luces);
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("../images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }  

  header {
    background-image: linear-gradient(
    rgba(45, 6, 100, 0.411),
    rgba(18, 55, 90, 0.938)),
    url(../../../images/fondo.jpeg);
    padding: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .header h1 {
    font-size: 40px;
  }
  
/*?-------------------------------------------------------NAV----------------------------------------------------------------------- */

  nav {
    overflow: hidden;
    background-color: #8BA9E6;
    display: flex;
    justify-items: stretch;
    border-bottom: 3px solid black;
  }

  nav a {
    margin: auto;
    color: black;
    text-align: center;
    padding: 1% 5%;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #c9e3e8;
    color: black;
  }

  #resaltado{
    background-color:#c9e3e8;
  }
  
  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  .side {
    -ms-flex: 30%; 
    flex: 30%;
    padding: 20px;
    background-color: #8ba9e6;
  }
  
  .main {   
    -ms-flex: 70%;
    flex: 70%;
    padding: 20px;
  }
  
  table {
    margin: 0 auto;
    width: 100%;
  }
  
  .derecha{
    color: white;
  }

  .izquierda{
    color: black;
  }

  img.atomo{
    width: 300px;
  }

  img.cien{
    width: 250px;
    float: right;
    margin-right: 45%;
    text-align: center;
  }

  video{
    width:1000px;
  }

  .boton-llamativo {
    background-color: #8BA9E6; 
    border: none; 
    color: rgb(0, 0, 0); 
    padding: 20px 30px; 
    text-align: center; 
    font-size: 25px; 
    cursor: pointer;
    border-radius: 15px;
  }

  button{
    background-color: #8bffb8;
  }

  img.iz{
    height: 150px; 
    float: left;
    margin: 15px;
  }

  img.rig{
    height: 150px; 
    float: right;
    margin: 15px;
  }

  img.logo{
    width: 130px;
    height: 160px;
  }

  /*?-------------------------------------------------------------FOOTER-------------------------------------------------------*/

  footer {
    padding: 10px;
    background: linear-gradient( to right,  
      white 20%,
      #051340);
    display: flex;
    flex-flow: row;
    justify-content: flex-start; /* Alinear elementos a la izquierda */
    align-items: center;
    border-top: 1px solid black;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer p {
    margin-top: 1em;
    padding-left: 1%;
    text-align: left;
    width: 300px;
    font-weight: bold;
    color: black;
  }
  
  footer figure {
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer figure img {
    height: 100%;
    object-fit: cover;
  }
  
  
  footer a img {
    width: 180px;
    height: 200px;
    margin: 0 100px; /* Ajusta el espacio entre las imágenes */
  }
  